In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df_vendas = pd.read_csv("vendas.csv")
df_vendas.head()

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,1,350,45,2022-09-23,4,Online,5795.64
1,2,925,68,2024-02-09,1,Loja Física,4614.41
2,3,915,75,2022-09-11,4,Online,2057.48
3,4,494,47,2024-05-10,4,Loja Física,12864.44
4,5,523,79,2023-10-15,4,Loja Física,13317.28

In [18]:
df_canal = df_vendas.groupby('Canal')['Valor_Total'].sum().reset_index()
df_canal

         Canal  Valor_Total
0  Loja Física  74297919.16
1       Online  75226105.95

ANÁLISE: CANAIS DE VENDAS APRESENTAM EQUILIBRIO NO VOLUME DE VENDAS.