In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
clientes = pd.read_csv('clientes.csv')
produtos = pd.read_csv('produtos.csv')
vendas = pd.read_csv('vendas.csv')
avaliacoes = pd.read_csv('avaliacoes.csv')
campanhas = pd.read_csv('campanhas.csv')
atendimentos = pd.read_csv('atendimentos.csv')

In [39]:
canal_vendas = vendas.groupby('Canal')['Valor_Total'].sum().reset_index()
canal_vendas

         Canal  Valor_Total
0  Loja Física  74297919.16
1       Online  75226105.95

ANÁLISE: CANAIS DE VENDAS APRESENTAM EQUILIBRIO NO VOLUME DE VENDAS.

In [40]:
clientes.head()

,ID_Cliente,Nome,Idade,Sexo,Cidade,Estado,Canal_Aquisicao
0,1,Cauã Guerra,56,M,São Paulo,RS,Loja Física
1,2,Luísa Vargas,69,M,Rio de Janeiro,RJ,Online
2,3,Larissa Monteiro,46,M,Porto Alegre,PR,Online
3,4,Larissa Ribeiro,32,F,Porto Alegre,PR,Loja Física
4,5,Otávio Castro,60,M,Belo Horizonte,RJ,Online

In [47]:
clientes_dados = clientes.groupby(['Idade', 'Sexo']).size().reset_index(name='Quantidade')
clientes_dados.head()

   Idade Sexo  Quantidade
0     18    F          12
1     18    M          12
2     19    F          11
3     19    M          10
4     20    F           9