In [39]:
#Importo as bibliotecas
import pandas as pd

In [40]:
#Carrega as bases extras de vendas
dfVendas1 = pd.read_csv("venda 1.csv", delimiter=",")
dfVendas2 = pd.read_csv("venda 2.csv", delimiter=",")
dfVendas3 = pd.read_csv("venda 3.csv", delimiter=",")

In [55]:
#Concateno as bases em uma só
dfVendasExtras = pd.concat([dfVendas1, dfVendas2, dfVendas3], ignore_index=True)
dfVendasExtras.head(2)

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,19200,57,56,2025-05-25 00:00:00,2,Loja Física,827501
1,19201,183,12,2025-07-12 00:00:00,1,Online,316061

In [56]:
#Transformo a coluna Data para o tipo de dados Data
dfVendasExtras["Data"] = pd.to_datetime(dfVendasExtras["Data"].str.replace(" 00:00:00", "", regex=False))
dfVendasExtras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_Venda     4000 non-null   int64
 1   ID_Cliente   4000 non-null   int64
 2   ID_Produto   4000 non-null   int64
 3   Data         4000 non-null   datetime64[ns]
 4   Quantidade   4000 non-null   int64
 5   Canal        4000 non-null   object
 6   Valor_Total  4000 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 218.9+ KB