In [5]:
#Importo as bibliotecas
import pandas as pd

In [6]:
#Carrega a base de atendimentos
dfAtendimentos = pd.read_csv("atendimentos.csv", delimiter=",")
dfAtendimentos.head(2)

,ID_Atendimento,ID_Cliente,Tipo,Data,Tempo_Resposta,Nota_Satisfacao
0,1,52,Elogio,2023-10-17,14.79,2
1,2,93,Dúvida,2022-04-25,0.33,4

In [7]:
#Formato a coluna Tempo_Resposta com duas casas decimais
dfAtendimentos["Tempo_Resposta"] = dfAtendimentos["Tempo_Resposta"].map('{:.2f}'.format)
dfAtendimentos.head(2)

,ID_Atendimento,ID_Cliente,Tipo,Data,Tempo_Resposta,Nota_Satisfacao
0,1,52,Elogio,2023-10-17,14.79,2
1,2,93,Dúvida,2022-04-25,0.33,4

In [8]:
#Exporto os dados para um arquivo CSV
dfAtendimentos.to_csv("dfAtendimentos.csv", sep=",", index=False)